@model ExpenseManagement.Models.BLs.SubExpenseHead




    <option value="">Select the Sub-Heads</option>
@foreach (var item in Model.Subheadlist)
{
    <option value="@item.Value">@item.Text</option>
}