@model IEnumerable<ExpenseManagement.Models.BLs.Expenses>

@{
    ViewBag.Title = "ExpenseList";
    ExpenseManagement.Models.BLs.Expenses e = new ExpenseManagement.Models.BLs.Expenses();
    e.ExpensesList= ExpenseManagement.Models.BLs.BL_Expenses.GetExpenses();

}

<h2>ExpenseList</h2>

<p>
    @Html.ActionLink("Add", "Expense","",new {@class="btn btn-success" })
</p>
@Html.Partial("_Filtered_Expenses",e);
